<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xclick.bestsudokuserver.dao.CommonDao">
	<resultMap type="Parameter" id="parameterMap">
		<id column="id" property="id"/>
		<result column="id" property="id"/>
		<result column="content" property="content"/>
		<result column="remark" property="remark"/>
		<result column="edit_time" property="editTime"/>
	</resultMap>
	
	<resultMap type="Application" id="applicationMap">
		<id column="id" property="id"/>
		<result column="id" property="id"/>
		<result column="version" property="version"/>
		<result column="store" property="store"/>
		<result column="release_note" property="releaseNote"/>
		<result column="download_url" property="downloadUrl"/>
		<result column="create_time" property="createTime"/>
		<result column="edit_time" property="editTime"/>
	</resultMap>
	
	<resultMap type="Activity" id="activityMap">
		<id column="id" property="id"/>
		<result column="id" property="id"/>
		<result column="type" property="type"/>
		<result column="key" property="key"/>
		<result column="token" property="token"/>
		<result column="ip" property="ip"/>
		<result column="data" property="data"/>
		<result column="useragent" property="userAgent"/>
		<result column="edit_time" property="editTime"/>
	</resultMap>
	<!-- getParameters -->
	<select id="getParameters" resultMap="parameterMap">
		SELECT * FROM `parameters` ORDER BY id ;	
	</select>
	<!-- getLastVersionApplication -->
	<select id="getLastVersionApplication" resultMap="applicationMap">
		SELECT * FROM `application` 
			ORDER BY `version` DESC
			LIMIT 1 ;	
	</select>
	
	<insert id="createActivity" parameterType="cn.xclick.bestsudokuserver.model.Activity">
		INSERT INTO activity
			(`type`, `key`, token, `ip`, `useragent`, `data`, edit_time)
			VALUES
			(#{type}, #{key}, #{token}, #{ip}, #{userAgent}, #{data}, #{editTime});
	</insert>
	
</mapper>
		